<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Master List</title>
</head>
<body>
    <h1>FLIGHT INFO</h1>
    <nav>
        <a href="/flights/new">ADD FLIGHT</a>
    </nav>
    <table>
        <thead>
            <tr><h3>D E P A R T U R E S</h3></tr>
        </thead>
        <thead>
            <tr>
                <th>flight</th>
                <th>airport</th>
                <th>airline</th>
                <th>date</th>
            </tr>
            </thead>
        <tbody>
            <% flights.forEach(f => { %>
                <tr>
                    <td><%= f.flightNo %></td>
                    <td><%= f.airport %></td>
                    <td><%= f.airline %></td>
                    <td><%= f.departs %> </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>